### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

*/cmake-build-clang-debug/
*/cmake-build-mingw-debug/
*/cmake-build-msvc-debug/

*/.idea/
*/__pycache__/

*.zip
